<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Room reservation</title>
    
    {% include 'menu.html' %}
    <p>

    </p>
</head>
<body>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-secondary alert-dismissible fade show">
          <strong> {{ message }} </strong>
      </div>
    {% endfor %}
    {% endif %}

  <form method="GET" action="/rooms/search/">
    <fieldset>
    <p><label for="name">Room name: </label><input type="text" name="name" value=""></p>
    <p><label for="capacity">Minimal capacity: </label><input type="number" name="capacity" value=""></p>
    <p><label for="if_projector">Search for projector? </label><input type="checkbox" name="if_projector">
      <label for="projector">Projector: </label><input type="checkbox" name="projector"></p>
  
    <p><input type="submit" value="search"></p>
  </fieldset>
    </form>

    
    {% if empty %}
      <p><strong>No rooms available</strong></p>
    {% endif %}
    {% for room in rooms %}
    <fieldset>
      <p><label for="name">Name: </label><a href="{% url 'room' room.id %}">{{room.name}}</a></p>
      <p><label for="capacity">Capacity:</label> {{room.capacity}}</p>
      <p><label for="projector">Projector: </label>{{room.projector}}</p>
      {% for res in res_all%}
        {% if res.res_date|date:'Y-m-d' == today|date:'Y-m-d' and res.room_id == room.id%}
          <strong>Booked for today</strong>
        {% endif %}
      {% endfor %}

      <p><a href="{% url 'room_del' room.id %}">Delete</a>
      <a href="{% url 'room_mod' room.id %}">Modify</a>
      <a href="{% url 'room_res' room.id %}">Reserve</a></p>
    </fieldset>
    {% endfor %}
</body>


<footer id="footer">
    <p>Author: Szczepan Jany</p>
  </footer>
</html>