<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Room reservation</title>
    {% include 'menu.html' %}
    <p>

    </p>
</head>
<body>
    {% for room in rooms %}
      <p>
      <p><label for="name">Name: </label> {{room.name}}</p>
      <p><label for="capacity">Capacity:</label> {{room.capacity}}</p>
      <p><label for="is_free">Free now!</label></p>
      <p><label for="projector">Projector: </label>{{room.projector}}</p>
      </p>

    {% endfor %}
</body>


<footer id="footer">
    <p>Author: Szczepan Jany</p>
  </footer>
</html>