<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Room reservation</title>
    {% include 'menu.html' %}
    <p>

    </p>
</head>
<body>

    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-secondary alert-dismissible fade show">
          <strong> {{ message }} </strong>
      </div>
    {% endfor %}
    {% endif %}
<form method="post"> {% csrf_token %}
    <p><label for="start">Start date:</label><input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31">
    </p>
    <p><label for="name">Room name: </label><input type="text" name="name" value="{{room.name}}"></p>
    <p><label for="capacity">Capacity: </label><input type="number" name="capacity" value="{{room.capacity}}"></p>
    {% if room.projector %}
    <p><label for="projector">Projector: </label><input type="checkbox" name="projector" checked></p>
    {% else %}
    <p><label for="projector">Projector: </label><input type="checkbox" name="projector"></p>
    {% endif %}
    <br>
    <input type="submit" value="Save changes">
    </form>


    <footer id="footer">
        <p>Author: Szczepan Jany</p>
      </footer>
    </html>