<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Room reservation</title>
    {% include 'menu.html' %}
    <p>

    </p>
</head>
<body>

    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-secondary alert-dismissible fade show">
          <strong> {{ message }} </strong>
      </div>
    {% endfor %}
    {% endif %}
    
<form method="post"> {% csrf_token %}
    <p><label for="start">Start date:</label><input type="date" name="res_date"
       value="{{today|date:'Y-m-d'}}"
       min="{{today|date:'Y-m-d'}}" max="2040-12-31">
    </p>
    <p><label for="comment">Comment here: </label><textarea name="comment" rows="4" value=""></textarea></p>
    <br>
    <input type="submit" value="Add reservation">
    </form>
    <p>
    {% for res in res_total %}
        <fieldset>
            <p>Reservation day: {{ res.res_date }}</p>
            <p>Comment: {{ res.comment }}</p>
        </fieldset>
    {% endfor %}
</p>
    <footer id="footer">
        <p>Author: Szczepan Jany</p>
      </footer>
    </html>