<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Room reservation</title>
    {% include 'menu.html' %}
    <p>

    </p>
</head>
<body>

    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-secondary alert-dismissible fade show">
          <strong> {{ message }} </strong>
      </div>
    {% endfor %}
    {% endif %}

      {{room.room_reservation.all}}
    <p>Room name: {{room.name}}</p>
    <p>Capacity: {{room.capacity}}</p>
    <p>Projector: 
    {% if room.projector %}
    true
    {% else %}
    false
    {% endif %}</p>
    {% for res in reservations %}
        <fieldset>
            <p>Reservation day: {{ res.res_date }}</p>
            <p>Comment: {{ res.comment }}</p>
        </fieldset>
    {% endfor %}

    <br>
    <p><a href="{% url 'room_del' room.id %}">Delete</a>
    <a href="{% url 'room_mod' room.id %}">Modify</a>
    <a href="{% url 'room_res' room.id %}">Reserve</a></p>

    <footer id="footer">
        <p>Author: Szczepan Jany</p>
      </footer>
    </html>